.app {
	display: flex;
	flex-direction: column;
	gap: 12px;
	max-width: 800px;
	margin: 0 auto;
	padding: 16px;
}

.app__title {
	font-size: 2rem;
	font-weight: bold;
	margin-bottom: 16px;
}

.app__list {
	display: flex;
	flex-direction: column;
	list-style-type: none;
	padding: 0;
	gap: 10px;
}
.edit-page__loader-container {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	width: 100%;
}
