.question-item {
	background: #f9f9f9;
	/* box-shadow: 5px 5px 8px rgba(12, 12, 12, 0.08); */
	border-radius: 8px;
	padding: 16px;
	margin-bottom: 16px;
}

.question-item__edit-buttons-container {
	display: flex;
	gap: 0.5em;
}

.question-item__header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.question-item__title {
	font-size: 1.25rem;
	font-weight: bold;
}
.answer-in-list {
	display: flex;
	align-items: center;
	gap: 1em;
	height: 40px;
	margin: 18px 0;
	padding: 10px 0;
	/* border-radius: 12px; */
	border-bottom: 1px rgba(12, 12, 12, 0.1) solid;
	border-top: 1px rgba(12, 12, 12, 0.1) solid;
}

.question-item__button {
	justify-content: center;
	align-items: center;
	outline: 0;
	cursor: pointer;
	border: none;
	padding: 8px 12px;
	border-radius: 8px;
	background-color: #00b871;
	color: white;
	font-weight: 500;
	font-size: 14px;
	transition:
		background 0.2s ease-in-out,
		color 0.2s ease,
		box-shadow 0.2s ease-in-out;
}
.question-item__button:hover {
	background: rgba(0, 189, 148, 0.9);
	box-shadow: inset 0 6px 20px rgba(0, 51, 109, 0.55);
	&:disabled {
		box-shadow: none;
	}
}

.question-item__button--remove {
	background-color: #dc3545;
}

.question-item__button--remove:hover {
	background: rgba(255, 75, 165, 0.9);
	box-shadow: inset 0 6px 20px rgba(0, 51, 109, 0.55);
}
.question-item__button--remove:disabled {
	background: rgba(116, 116, 116, 0.9);
	cursor: default;
}

.question-item__edit-mode {
	margin-top: 8px;
}

.question-item__input {
	border: 1px solid #ccc;
	border-radius: 4px;
	padding: 8px;
	width: 80%;
	margin-bottom: 1em;
}

.question-item__input--title {
	border: 1px solid #ccc;
	border-radius: 4px;
	padding: 10px 8px;
	font-size: 16px;
	font-weight: bold;
	width: 96%;
	margin-bottom: 1em;
}
.answers-items_indedit-container {
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: center;
	gap: 2px;
	padding-right: 4px;
	margin-bottom: 14px;
	background-color: rgba(12, 12, 12, 0.1);
	border-radius: 12px;
}
.inedit-container {
	display: flex;
	flex-direction: column;
	align-items: start;
	gap: 2px;
	padding: 12px 0px;
}
