.story-quiz-items {
	margin-bottom: 10px;
}
.story-quiz-item__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 4em;
	border-radius: 1em;
	padding: 0 1em;
	background: #f9f9f9;
	box-shadow: 5px 5px 8px rgba(12, 12, 12, 0.1);
}
.story-quiz_true-answers-container {
	display: flex;
	align-items: center;
	gap: 4px;
}
.answers_and_progressbar__container {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1em;
}
.story-quiz_progress-bar-container {
	display: flex;
	align-items: center;
	width: auto;
	border: solid 1px rgb(175, 175, 175);
	border-radius: 1em;
	gap: 1px;
	overflow: hidden;
}
.story-quiz_progress-bars_red {
	display: flex;
	height: 12px;
	width: 12px;
	background: #ee3333;
}
.story-quiz_progress-bars_green {
	display: flex;
	height: 12px;
	width: 12px;
	background: #33eea6;
}
.story-quiz_progress-gray {
	display: flex;
	height: 12px;
	width: 12px;
	background: #e9e9e9;
}
